*{
    margin:0;
    font-family:Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: black;
    color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width: 100%; 
}
.border{
    border:1px solid transparent
}
.border:hover{
    border:1px solid white;}
    /*box2*/
    .add-1{
        color:#cccccc ;
        font-size: 0.85rem;/*rem is use to  actomatically adjust the size */
        margin-left: 15px;
    }
    .add-2{
        color: #ffffff;
        font-size: 1rem;
        margin-left:5px;
    }
    .add-icon{
        display: flex;
        align-items:center ;
    }
    /*box3*/
    .nav-search{
        display: flex;
        justify-content: space-evenly;
        background-color: cadetblue;
        height: 30px;
        width: 600px;
        border-radius: 5px;
    }
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    
}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 183, 0);
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    color: black;
}
.nav-search:hover{
    border: 2px solid rgb(255, 179, 0);
}
/*box 4*/
span{
    font-size: 0.7rem;
}
.nav-2{
    font-size: 0.85rem;
    font-weight: 700px;
}
/*box 6*/
.nav_cart i{
    font-size: 30px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight: 700;
}
/*panel*/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #cccccc;
    align-items: center;
    justify-content: space-evenly ;
}
.panel_ops p{
    display: inline;
    margin-left: 20px;

}
.panel_ops{
    font-size: 0.65rem;
    width: 50%;
}
.panel-deals{
    font-size: 0.85rem;
    font-weight: 700;
}

.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-mes{
    background-color: #f3f3f3;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-mes a{
    color: #007185;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: azure;
}
.box{
    /*border: 2px solid black;*/
    height: 400px;
    width: 23%;
    background-color:white ;
    padding: 20px 0px 15px;
    margin: 8px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 10px ;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
}
/*panel1 footer*/
.foot-panel{
    background-color: #37574a;
    color: aliceblue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel1{
    background-color: #222f3d;
    color: #cccccc;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 10px;
}
.foot-panel1 a{
    display: block;
    font-size: 0.85rem;
    margin-top: 5px;
    color: #dddddd;
}
.foot-panel2{
    background-color: #222f3d;
    border-top: 2px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width: 100px; 
}